# Node Modules
node_modules/

# Expo
.expo/
expo-env.d.ts
web-build/

# Build Outputs
dist/
build/
android/app/build/
ios/build/

# Debug Logs
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Key & Certificate Files (Güvenlik için)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Android
.gradle
local.properties

# iOS
Pods/
DerivedData/
xcuserdata/
*.xcworkspace

# IDE & Editor
.vscode/
.idea/

# Misc
.env
